body {
  background: url(/assets/Landing-bgr.jpg); }

#logo {
  background: url(/assets/bouncy-logo.jpg);
  height: 40px;
  width: 140px;
  margin-left: 87px;
  display: flex;
  justify-content: flex-start; }

.nav {
  display: flex;
  margin-right: 75px;
  justify-content: flex-end;
  list-style: none;
  margin-top: 25px; }

.nav li {
  margin-left: 15px; }

.nav li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: 'Open-sans'; }

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between; }
