body {
  background: url(/assets/Landing-bgr.jpg) no-repeat;
}
#logo {
  background: url(/assets/bouncy-logo.jpg);
  height: 40px;
  width: 123px;
  margin-left: 87px;
  display: flex;
  justify-content: flex-start;
}
.nav {
  display: flex;
  margin-right: 75px;
  justify-content: flex-end;
  list-style: none;
  margin-top: 28px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255); 
    
  li {
    margin-left:15px;
  }
   a {
  text-decoration: none;
  color:white;
  font-size:18px;
  font-family: 'Open-sans' sans-serif;
  }
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.intro {
  height: 40%;
  text-align: center;
  display: block;
  margin: 14% 27% 8%;
  font-size: 15px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  p {
    font-size: 16px;
    font-family: "OpenSans";
  }
}
.intro__button { 
  background: url(/assets/eclipse-button.jpg);
  height: 38px;
  width: 38px;
  margin-top: 120px;
  border:0;
  cursor: pointer;
}
.intro__button--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 190px;
}
.about{
  display: flex;
  justify-content: center;
}
.about__describe{
  width: 30%;
}
.about__button{
  height: 30px;
  width: 120px;
  border-radius: 15px;
  border: black solid 1px;
  font-size: 13px;
  margin-top:8px;
}
.about__img{
  width: 30%;
}
.about__details{
  background:#f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}
.about__details--buttons{
  display: flex;
  padding-left: 0px;
}
.about__details--buttons a{
  list-style: none;
  height: 60px;
  width: 60px;
  cursor: pointer
}
#heart{
  background: url(/assets/about-bottons.jpg) no-repeat;
  background-position:0px 0;
  margin-left: 0px;
}
#mouse{
  background: url(/assets/about-bottons.jpg) no-repeat;
  background-position:-80px 0;
}
#blob{
  background: url(/assets/about-bottons.jpg) no-repeat;
  background-position:-160px 0;
}
.about__details--button{
  margin-left: 30px;
}
.about__bottom{
  background:#f3f3f3;
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 0 160px 0 225px;
}
.about__details--description{
  margin-top:0px;
}
.about__details--left p{
  margin-top:32px;
}
.about__details--left{
  display: block;
}
.about__details--right{
  margin-top: 37px;
  margin-left: 120px;
  margin-right: 53px;
}
.about__background{
  background:#f3f3f3;
}
